{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info float-right">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="float-right">
                        {% if task.isDone %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}
                    </h4>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p><small>{{ task.user.username }}</small></p>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm float-right">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <button class="btn btn-danger btn-sm float-right">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning float-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
